{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="content articles">
  <h1 class="content__header">{% trans "Change Password" %}</h1>
    <article>
      <hr class="separator">
      <form method="post" class="register_form">
        {% csrf_token %}
        <table class="register_table">
        {{ form.as_table }}
        </table>
        <button class="register_button" type="submit">{% trans "Submit" %}</button>
      </form>
    </article>
</div>
<script src="{% static 'scripts/register.js' %}"></script>
{% endblock %}
