{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="content articles">
  <h1 class="content__header">{% trans "Confirm Password Reset" %}</h1>
    <article>
      <hr class="separator">
      {% if validlink %}
      <form method="post" class="register_form">
        {% csrf_token %}
        <table class="register_table">
        {{ form.as_table }}
        </table>
        <button class="register_button" type="submit">{% trans "Submit" %}</button>
      </form>
      {% else %}
      <p class="event__text">
      {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
      </p>
      {% endif %}
    </article>
</div>
<script src="{% static 'scripts/register.js' %}"></script>
{% endblock %}
