{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load markdownify %}

{% block content %}
<div class="content">
    <h1 class="content__header">{% trans "About us" %}</h1>
    <p class="about-us__main-text">
        {{ about_us_text|markdown|safe }}
    </p>
    <div class="about-us__container">
        {% for user_object in profile_list %}
            {% include 'partials/_user.html' with profile=user_object %}
        {% endfor %}
    </div>
</div>
<script src="{% static 'scripts/aboutus.js' %}"></script>
{% endblock %}
