{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="content articles">
    <h1 class="content__header">{% trans "News" %}</h1>
    {% for article_object in article_list %}
    {% include 'partials/_article.html' with article=article_object %}
    {% endfor %}

    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
            <span><a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></span>
            </li>
        {% endif %}
        <li class="">
        <span>{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.</span>
        </li>
        {% if page_obj.has_next %}
            <li>
            <span><a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></span>
            </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
<script src="{% static 'scripts/articles.js' %}"></script>
{% endblock %}
