{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="content">
    <h1 class="content__header contact__header">
        {% trans "Contact" %}
        <a href="#" class="contact__logo-link"><img src="/static/img/pyszczek_logo_beznog.svg" alt="PySzczek Logo" class="contact__logo"></a>
    </h1>
    <div class="contact__container">
        <span class="contact__mail">Email: kontakt@strona-pyszczka.domena</span>
        <div class="contact__icons">
            <a href="https://gitlab.com/pyszczek" class="contact__icon-link" target="_blank"><img src="/static/img/gitlab_icon.svg" alt="Our Gitlab" class="contact__icon"></a>
            <a href="https://web.facebook.com/PySzczek-258401358167734" class="contact__icon-link" target="_blank"><img src="/static/img/facebook_icon.svg" alt="Our Facebook" class="contact__icon"></a>
            <a href="#" class="contact__icon-link" target="_blank"><img src="/static/img/twitter_icon.svg" alt="Our Twitter" class="contact__icon"></a>
            <a href="https://join.slack.com/t/pyszczek/shared_invite/enQtNDk4ODc5NzcyNTk2LTk2MGRmODA5ZTJlYTAwMzQ3NjUzNTEwZmU0OGNjNmJjZDdhZDE4YzA1ZWE4ODYzOTIzZGI0YmQ3NDQ5MzIwNWM" class="contact__icon-link" target="_blank"><img src="/static/img/slack_icon.svg" alt="Our Slack" class="contact__icon"></a>
        </div>
    </div>
</div>
<script src="{% static 'scripts/contact.js' %}"></script>
{% endblock %}