{% load static %}
{% load i18n %}
<div class="footer-container">
    <span class="footer__text">
        {% trans "PySzczek Szczecin Python User's Group 2019" %}
    </span>
    <span class="footer__social-media">
        <span class="footer__find-us">
            {% trans "Find Us!" %}
        </span>
        <a href="https://web.facebook.com/PySzczek-258401358167734" class="footer__link" target="_blank"><img src="{% static 'img/facebook_icon.svg' %}" class="footer_social-icon" alt="facebook icon"></a>
        <a href="" target="_blank"><img src="{% static 'img/twitter_icon.svg' %}" class="footer_social-icon" alt="twitter icon"></a>
    </span>
</div>
