{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<nav>
    <ul class="navigation">
        <li class="navigation__item nav-aboutus"><a href="{% url 'aboutus' %}" class="navigation__link">{% trans "About Us" %}</a></li>
        <li class="navigation__item nav-index"><a href="{% url 'index' %}" class="navigation__link">{% trans "News" %}</a></li>
        <li class="navigation__item nav-events"><a href="{% url 'events' %}" class="navigation__link">{% trans "Events" %}</a></li>
        <li class="navigation__item nav-contact"><a href="{% url 'contact' %}" class="navigation__link">{% trans "Contact" %}</a></li>
        <li class="dropdown navigation__item nav-register">
            <a href="{% url 'register_speaker' %}" class="navigation__link">{% trans "User" %}<div class="arrow">&#10095;</div></a>
            <div class="relative-nav">
            <div class="dropdown-content">
                {% if not user.is_authenticated %}
                <a href="{% url 'register_speaker' %}" class="navigation__link">{% trans "Register as a Speaker" %}</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'register_speaker' %}" class="navigation__link">{% trans "Change Speech Details" %}</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'change_password' %}" class="navigation__link">{% trans "Change Password" %}</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'change_email' %}" class="navigation__link">{% trans "Change E-mail" %}</a>
                {% endif %}
                {% if not user.is_authenticated %}
                <a href="{% url 'reset_password' %}" class="navigation__link">{% trans "Reset Password" %}</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="navigation__link">{% trans "Logout" %}</a>
                {% endif %}
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="navigation__link">{% trans "Login" %}</a>
                {% endif %}
            </div>
            </div>
        </li>
        <li class="navigation__item nav-polish-flag"><a href="{% url 'language' 'pl' %}?next={{request.path}}" class="navigation__link"><img style="width: 40px;" src="/static/img/polish.svg" alt="Polish Language"></a></li>
        <li class="navigation__item nav-english-flag"><a href="{% url 'language' 'en' %}?next={{request.path}}" class="navigation__link"><img style="width: 40px;" src="/static/img/english.svg" alt="English Language"></a></li>
    </ul>
</nav>
