@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

:root {
  --lblue: #336FA1;
  --navborder: #273643;
  --dblue: #1E2933;
  --lgrey: #E6E8EA;
  --white: #f7f7f7;
  --black: #333;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#map {
  height: 400px;
  width: 100%;
  margin: 1rem 1rem;
}

html {
  font-size: 10px;
  height: 100%;
  background: var(--white);
  overflow-y: scroll;
}

body {
  height: 100%;
  font-size: 1.4rem;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

li {
  list-style-type: none;
}

header {
  background-color: var(--dblue);
}

.success {
  background-color: #83cf63;
  text-align: center;
  height: 3rem;
  padding: 0.5rem;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 1rem;
  margin: 0 auto;
  color: var(--lgrey);
  border: 0.1rem solid var(--navborder);
}

.arrow {
  transform: rotate(90deg);
  display: inline-block;
  padding-left: 0.4rem;
  margin-left: 0.7rem;
}

.relative-nav {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dblue);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  float: none;
  color: var(--lgrey);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--navborder);
  color: var(--lgrey);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navigation__item {
  border-right: 0.1rem solid var(--navborder);
}

.navigation__item:first-child {
  border-left: 0.1rem solid var(--navborder);
}

.navigation__item:hover, .navigation__item[aria-selected=true] {
  color: var(--white);
  background-color: var(--navborder);
}

.nav-aboutus {
  border-top: 0.2rem solid #82b043;
}

.nav-index {
  border-top: 0.2rem solid #ffd343;
}

.nav-events {
  border-top: 0.2rem solid #d67b31;
}

.nav-register {
  border-top: 0.2rem solid #c653bb;
}

.nav-contact {
  border-top: 0.2rem solid #b55863;
}

.nav-polish-flag {
  border-top: 0.2rem solid #dc143c;
}

.nav-english-flag {
  border-top: 0.2rem solid #868abd;
}

.register_button {
  background-color: #0080ff;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  padding: 1rem 2rem;
  margin: 0.80rem auto;
  text-align: center;
  display: grid;
  grid-column: 1;
  font-size: 2rem;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.register_button:hover {
  background-color: #3399ff;
}

.register_table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.register_table th {
  text-align: right;
  padding-right: 1rem;
}

.register_table td {
  width: 63%;
  padding: 1rem 0;
}

.register_form {
  margin-top: 0.5rem;
}

.register_form input {
  border-radius: 0.5rem;
  border: solid 0.1rem var(--lgrey);
  width: 100%;
}

.register_form select {
  border-radius: 0.5rem;
  border: solid 0.2rem var(--lgrey);
  width: 100%;
}

.register_form .helptext {
  display: none;
}

.navigation__link {
  display: block;
  padding: 1.5rem 0;
  text-align: center;
}

.separator {
  background: var(--dblue);
  margin: 2.5rem auto 0rem auto;
  width: 50%;
  height: 0.5rem;
  border: none;
  border-radius: 5rem;
}

.content {
  margin: 0 auto;
  padding: 1.6rem;
}

.content__header {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.articles {
  margin-bottom: 5rem;
}

.article__title {
  text-align: center;
  margin: 2rem auto;
}

a .article__title {
  color: #5b7a96;
}

.article__text {
  margin: 2rem auto 5rem auto;
  text-align: justify;
  display: block;
}

.article__img-container {
  position: relative;
}

.article__img {
  width: 100%;
  height: auto;
  display: block;
}

.article__img-description {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  background: var(--black);
  color: var(--white);
  min-height: 3rem;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.articles article:nth-child(2) .separator {
  margin-top: 2rem;
  width: 35%;
}

.event__header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 10px;
}

.event__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    align-items: center;
    justify-items: center;
  }

.event__img {
    max-height: 250px;
    width: auto;
    display: block;
    margin: 0.50rem auto;
}

.event__text {
  margin: 2rem auto 5rem auto;
  text-align: center;
  display: block;
}

.event__title {
  text-align: center;
  margin: 0.5rem auto;
}

a .event__title {
  text-align: center;
  margin: 0.5rem auto;
  color: #5b7a96;
}

.contact__logo-link {
  position: absolute;
  top: -1.2rem;
  left: -6.5rem;
  width: auto;
}

.contact__logo {
  width: 5rem;
}

.contact__container {
  margin-top: 4rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 2rem;
}

.contact__mail {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.contact__icons {
  text-align: center;
  margin-top: 20vh;
}

.contact__icon-link {
  width: auto;
}

.contact__icon {
  width: 10%;
  margin: 1rem;
}

.about-us__photo-container {
  margin-top: 5rem;
}

.about-us__main-text {
  margin: 2rem 0;
}

.about-us__photo-item {
  text-align: center;
}

.about-us__photo-img {
  width: 50%;
  height: auto;
}

.about-us__photo-description {
  text-align: justify;
}

footer {
  background-color: var(--lgrey);
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__text {
  white-space: nowrap;
  margin-right: 1rem;
}

.footer__social-media {
  display: flex;
  align-items: center;
}

.footer__find-us {
  white-space: nowrap;
}

.footer_social-icon {
  width: 2rem;
  margin-left: 1rem; 
}

@media (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }
  .navigation {
    width: 80%;
  }
  .separator {
    margin: 2.5rem auto 0rem auto;
    width: 35%;
  }
  .articles article:nth-child(2) .separator {
    width: 20%;
  }
  .about-us__container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2rem;
  }
  .about-us__photo-description {
    margin-top: 2rem;
  }
  .contact__container {
    grid-gap: 4rem;
  }
  .contact__icon {
    margin: 2rem;
  }
  footer {
    font-size: 1.4rem;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 1.6rem;
  }
  .navigation {
    width: 50%;
  }
  .separator {
    margin: 5rem auto 0rem auto;
    width: 25%;
  }
  .articles article:nth-child(2) .separator {
    width: 15%;
  }
  .content {
    max-width: 120rem;
  }
  .articles {
    margin-bottom: 5rem;
  }
  .article__container {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  .article__text {
    margin: 0;
    margin-left: 2rem;
  }
  .article__img-container {
    width: 35%;
    flex-shrink: 0;
  }
  .contact__header {
    margin-top: 2rem;
  }
  .contact__icons {
    margin-top: 35vh;
  }
  .about-us__container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
  } 
  .about-us__main-text {
    width: 80%;
    margin: 2rem auto;
  }
  .about-us__photo-container {
    min-height: 55rem;
    max-width: 25%;
  }
  .about-us__photo-item[aria-expanded=true] {
    transform: scale(1.02);
    border-bottom: none;
  }
  .about-us__photo-item {
    position: relative;
    padding: 1rem;
    border-top: 1px solid var(--lgrey);
    border-bottom: 1px solid var(--lgrey);
    border-right: 2px solid var(--lgrey);
  }
  .about-us__photo-item:first-child {
    border-left: 1px solid var(--lgrey);
  }
  .about-us__photo-img {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
  }
  .about-us__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--black);
    top: 0%;
    left: 0%;
    opacity: 0.3;
    transition: all 0.5s ease-in-out;
  }
  .about-us__photo-name {
    color: var(--white);
    position: relative;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  .about-us__photo-item[aria-expanded=true] > .about-us__photo-name {
    color: var(--black);
  }
  .about-us__photo-description {
    color: var(--black);
    padding: 0.5rem;
    display: none;
    position: absolute;
  }
  .about-us__photo-item[aria-expanded=true] + .about-us__photo-description {
    display: block;
    left: 1%;
    top: 72%;
    padding: 0 1rem;
  }
  .about-us__photo-item[aria-expanded=true] .about-us__overlay {
    opacity: 0;
  }
  footer {
    font-size: 1.5rem;
  }
}
