{% load markdownify %}
<article>
  <hr class="separator">
  <a href="?id={{article.id}}"><h2 class="article__title"><u>{{article.title|markdown|safe}}</u></h2></a>
  <div class="article__container">
    <figure class="article__img-container">
      <img src={{article.photo}} alt="Article theme picture" class="article__img">
      <figcaption class="article__img-description">{{article.photo_description}}</figcaption>
    </figure>
    <p class="article__text">{{article.body|markdown|safe}}</p>
  </div>
</article>
