{% load i18n %}
{% load static %}
{% load markdownify %}
<article>
  <hr class="separator">
  <img src={{event.photo}} alt="Event theme picture" class="event__img">
  <div class="event__header">
    <a href="?id={{event.id}}"><h2 class="event__title"><u>{{event.title|markdown|safe}}</u></h2></a>
    <h3 class="event__title">{{event.event_date}}</h3>
    <h3 class="event__title">{{event.address}}</h3>
  </div>
  {% if event_list|length == 1 %}
  <div class="event__text">{{event.description|markdown|safe}}</div>
  <div class="event__container">
    <h3 class="article__title">Agenda:</h3>
    <div class="article__text">{{event.agenda|markdown|safe}}</div>
    <h3 class="article__title">{% trans "Place:" %}</h3>
    <div id="map"></div>
  </div>
</article>
<script>
  function initMap() {
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 17, center: new google.maps.LatLng({{event.geolocation|safe}})});
    var latLng = new google.maps.LatLng({{event.geolocation|safe}})
    var marker = new google.maps.Marker({position: latLng, map: map});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"
    async defer></script>
{% endif %}
