{% load markdownify %}
<div class="about-us__photo-container">
  <div class="about-us__photo-item">
    <img src="{{ profile.photo }}" alt="photo placeholder" class="about-us__photo-img">
    <div class="about-us__overlay"></div>
    <p class="about-us__photo-name">{{profile.user.first_name|markdown|safe}} {{profile.user.last_name|markdown|safe}}</p>
  </div>
    <div class="about-us__photo-description">
      {{profile.description|markdown|safe}}
    </div>
</div>
