<!DOCTYPE html>
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PySzczek</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'fruity.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            {% include 'partials/_navbar.html' %}
        </header>
        <main>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}

            {% endblock %}
        </main>
        <footer>
            {% include 'partials/_footer.html' %}
        </footer>
        <script src="{% static 'scripts/main-height.js' %}"></script>
        <script src="{% static 'scripts/message_fadeout.js' %}"></script>
    </body>
</html>